<div class="d-flex flex-wrap">
    {{#if products.length}}
    {{#each products}}
    <div class="col-lg-4">
        <div class="card text-center" style=" padding: 15px">
            <div class="card-title">
                <div class="box">
                    <h4>{{maqolaTitle}}</h4>
                    <p>{{maqolaText}}</p>
                    <img src="/images/{{img}}" alt="png">
                </div>
                <div class="box">
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>