<div class="col-12"
    style="background: whitesmoke; border-radius: 10px; margin-top: 20px; margin-right: 10px; padding: 30px;text-align: center;">
    <h4>{{maqolaTitle}}</h4>
    <p>{{maqolaText}}</p>
    <img src="/images/{{img}}" alt="jpg">
</div>